* {
  margin: 0;
  padding: 0;
  line-height: 16px;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

body {
  background-color: 313338;
  display: flex;
}

.servers-section {
  background-color: #1e1f22;
  width: 72px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .servers-section-item {
    margin-block: 6px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    .server-notification-bar {
      position: absolute;
      left: -4;
      background-color: white;
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .discord-logo {
    background-color: #5865f2;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      height: 40px !important;
      border-radius: 16px !important;
    }
    svg {
      color: white;
    }
  }
  .server-logo {
    background-color: rgb(36, 74, 165);
    border-radius: 50%;
    &:hover {
      transition: 0.3s;
      border-radius: 16px;
      .server-notification-bar {
        transition: 0.3s;
        height: 20px;
        border-radius: 16px;
      }
    }
  }

  .misc-server-button {
    background-color: #313338;
    &:hover {
      background-color: #23a559;
      svg {
        color: white;
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      color: #23a559;
    }
  }
}

.friends-section {
  width: 240px;
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
  input {
    background-color: #1e1f22;
    font-size: 12px;
    line-height: 24px;
    margin: 10px;
    padding: 1px 6px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    &::placeholder {
      color: #949ba4;
      letter-spacing: 0.4px;
    }
  }

  .friends-nav {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 8px;
    .friends-nav-element {
      display: flex;
      margin: 1px;
      align-items: center;
      padding: 12px 8px;
      border-radius: 4px;
      svg {
        padding: 0 12px 0 6px;
      }
    }
    .active {
      background-color: rgb(78, 80, 88, 0.6);
    }
    .friends-element {
      color: #ffffff;
    }
    .nitro-element {
      color: #949ba4;
    }
  }
  .direct-messages-container {
    .header {
      display: flex;

      justify-content: space-between;
      padding: 10px 18px;
      font-size: 10px;
      letter-spacing: 0.6px;
      font-weight: bolder;

      div {
        color: #949ba4;
        &:hover {
          color: #ffffff;
        }
      }
      svg {
        color: #949ba4;
        &:hover {
          color: #ffffff;
          cursor: pointer;
        }
      }
    }

    .dm-container {
      height: 42px;
      color: #949ba4;
      margin: 2px 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      &:hover {
        background-color: rgb(78, 80, 88, 0.3);
        color: #dbdee1;
        cursor: pointer;
        svg {
          display: block;
        }
      }
      .pfp {
        width: 32px;
        height: 32px;
        background-color: white;
        border-radius: 50%;
        margin: 0 8px;
      }

      svg {
        margin-left: 100px;
        color: rgb(255, 255, 255, 0.7);
        display: none;
      }
    }
  }

  .user-info {
    width: 216px;
    height: 52px;
    padding-inline: 12px;
    background-color: #232428;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;

    .pfp {
      width: 32px;
      height: 32px;
      background-color: rgb(36, 74, 165);
      border-radius: 50%;
    }

    .status-container {
      padding-left: 8px;
    }
    .username {
      color: #f2f3f5;
      font-size: 12px;
    }
    .status {
      color: rgb(242, 243, 245, 0.4);
      font-size: 10px;
    }

    .controllers {
      color: #b5bac1;
      display: flex;
      margin-left: 30px;
      .headphones {
        margin-inline: 10px;
      }
    }
  }
}
