* {
  margin: 0;
  padding: 0;
  line-height: 16px;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: 313338;
  display: flex;
}

.servers-section {
  background-color: #1e1f22;
  width: 72px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}
.servers-section .servers-section-item {
  margin-block: 6px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
}
.servers-section .servers-section-item .server-notification-bar {
  position: absolute;
  left: -4;
  background-color: white;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.servers-section .servers-section-item:hover {
  cursor: pointer;
}
.servers-section .discord-logo {
  background-color: #5865f2;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servers-section .discord-logo div {
  height: 40px !important;
  border-radius: 16px !important;
}
.servers-section .discord-logo svg {
  color: white;
}
.servers-section .server-logo {
  background-color: lightblue;
  border-radius: 50%;
}
.servers-section .server-logo:hover {
  transition: 0.3s;
  border-radius: 16px;
}
.servers-section .server-logo:hover .server-notification-bar {
  transition: 0.3s;
  height: 20px;
  border-radius: 16px;
}
.servers-section .misc-server-button {
  background-color: #313338;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servers-section .misc-server-button:hover {
  background-color: #23a559;
}
.servers-section .misc-server-button:hover svg {
  color: white;
}
.servers-section .misc-server-button svg {
  color: #23a559;
}

.friends-section {
  width: 240px;
  height: 100%;
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
}
.friends-section input {
  background-color: #1e1f22;
  font-size: 12px;
  line-height: 24px;
  margin: 10px;
  padding: 1px 6px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
.friends-section input::-moz-placeholder {
  color: #949ba4;
  letter-spacing: 0.4px;
}
.friends-section input::placeholder {
  color: #949ba4;
  letter-spacing: 0.4px;
}
.friends-section .friends-nav {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px;
}
.friends-section .friends-nav .friends-nav-element {
  display: flex;
  margin: 1px;
  align-items: center;
  padding: 12px 8px;
  border-radius: 4px;
}
.friends-section .friends-nav .friends-nav-element svg {
  padding: 0 12px 0 6px;
}
.friends-section .friends-nav .active {
  background-color: rgba(78, 80, 88, 0.6);
}
.friends-section .friends-nav .friends-element {
  color: #ffffff;
}
.friends-section .friends-nav .nitro-element {
  color: #949ba4;
}
.friends-section .direct-messages-container .header {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  font-size: 10px;
  letter-spacing: 0.6px;
  font-weight: bolder;
}
.friends-section .direct-messages-container .header div {
  color: #949ba4;
}
.friends-section .direct-messages-container .header div:hover {
  color: #ffffff;
}
.friends-section .direct-messages-container .header svg {
  color: #949ba4;
}
.friends-section .direct-messages-container .header svg:hover {
  color: #ffffff;
  cursor: pointer;
}
.friends-section .direct-messages-container .dm-container {
  height: 42px;
  color: #949ba4;
  margin: 2px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.friends-section .direct-messages-container .dm-container:hover {
  background-color: rgba(78, 80, 88, 0.3);
  color: #dbdee1;
  cursor: pointer;
}
.friends-section .direct-messages-container .dm-container:hover svg {
  display: block;
}
.friends-section .direct-messages-container .dm-container .pfp {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  margin: 0 8px;
}
.friends-section .direct-messages-container .dm-container svg {
  margin-left: 100px;
  color: rgba(255, 255, 255, 0.7);
  display: none;
}/*# sourceMappingURL=styles.css.map */